<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.crazy.petter.warehouse.app.main"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.in.StorageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.ReceiptActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.TrayStorageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.TrayReceiptActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.PutAwayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.PutAwayDetialsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.TrayPutAwayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.in.TrayPutAwayDetialsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.out.TraySendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.out.TraySendDetialsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.out.PackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activitys.out.PackDetialsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
    </application>

</manifest>